 <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="#" target="_self" class="active"><i><b>CartridgeCurator.COM</b></i></a>
  <a href="#about" target="_self">About</a>
  <a href="#downloads" target="_self">Download</a>
  <a href="#contact" target="_self">Contact</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div> 
