---
title: Cartridge Curator
---

<%= partial "head" %>

  <div class="parallax"><p><center><%= image_tag("logoa.png", class: "img-fluid", alt: "CartCurator Logo") %><br/><%= image_tag("logob.png", class: "img-fluid", alt: "CartCurator Logo") %></center></p></div>

<div class="container">
  <!--  <center><h1>Cartridge Curator</h1></center> -->
    <p><center><%= partial "countdown" %></center></p>
<p></p><p><center><a role="button" class="secondary" href="#downloads">DOWNLOAD NOW!</a></center></p><br/>
<p></p>
  <h4>Never before has a piece of software been designed from the ground up to let you track the rising value of your old video games.  <strong><i>CartridgeCurator</i></strong> is here to incentivize a quick trip to your attic with the rubbing alcohol and cotton swabs, because your old game cartridges are about to be back where they belong... at the top of your most valuable possessions list.</h4>
  <h4><strong><i>CartridgeCurator</i></strong> works on most Desktop PC platforms including <b>Windows</b> and <b>Mac</b>.  </h4>

 <center> <h2 id="about"><i>A video game collector's dream come true...</i></h2></center>
  
  <center>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card large" style="background-color: rgba(0,0,0,.35);">
	<p><%= image_tag("read.png", width: "75%", alt: "read icon") %></p>
	<p style="color: white;">Keep track of your entire video game collection.</p>

	<p></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card large" style="background-color: rgba(0,0,0,.35);">
	<p><%= image_tag("cash.png", width: "75%", alt: "cash icon") %></p>
	<p style="color: white;">Record the value of your video game assets.</p>
	<p></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card large" style="background-color: rgba(0,0,0,.35);">
	<p><%= image_tag("art.png", width: "75%", alt: "art icon") %></p>
	<p style="color: white;">Retain box art and other useful information about your games.</p>
	<p></p>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card large" style="background-color: rgba(0,0,0,.35);">
	<p><%= image_tag("bot.png", width: "75%", alt: "Bot Icon") %></p>
	<p style="color: white;">Get a rapid smart valuation of specific titles.<i>COMING SOON!</i></p>
	<p></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card large" style="background-color: rgba(0,0,0,.35);">
	<p><%= image_tag("stonk.png", width: "75%", alt: "stonk icon") %></p>
	<p style="color: white;">Export data for in depth analysis and visualization.</p>
	<p></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card large" style="background-color: rgba(0,0,0,.35);">
	<p><%= image_tag("pencil.png", width: "75%", alt: "pencil icon") %></p>
	<p style="color: white;">Keep detailed notes about all of your games.</p>
	<!--<a href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5338525726&mpre=https%3A%2F%2Fwww.ebay.com%2Fitm%2FThe-Neverhood-PC-1997-Brand-New-Sealed-ULTRA-RARE-LAST-ONE%2F183623973506"><button class="secondary">PURCHASE</button></a>-->
	<p></p>
      </div>
    </div>
  </div>
  <center> <h2><i>Download on <b>STEAM</b> or <b>ITCH.IO</b></i></h2></center>

    <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="card large" style="background-color: rgba(0,0,0,.35);">
	<p id="downloads"><%= image_tag("steamlogo.png", width: "75%", alt: "steam icon") %></p>
	<p style="color: white;">Download for <b>STEAM</b><br/>Must have <b>STEAM</b> platform to purchase this edition.<br/>Compatible with <b>Mac OSX</b> and <b>Windows 10</b></p>
	<p><center><a role="button" class="secondary" href="https://store.steampowered.com/search/?publisher=Modern%20Aeon">DOWNLOAD NOW</a></center></p>

	<p></p>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="card large" style="background-color: rgba(0,0,0,.35);">
	<p><%= image_tag("itchlogo.png", width: "75%", alt: "itch icon") %></p>
	<p style="color: white;">Direct Download from <b>itch.io</b><br/>Compatible with <b>Mac OSX</b> and <b>Windows 10</b><br/>Card and PayPal accepted</p>
	<p><center><a role="button" class="secondary" href="https://andersonevans.itch.io/cartridge-curator">DOWNLOAD NOW</a></center></p>
	<p></p>
      </div>
    </div>
  </div>
  
  </center>
  <p id="contact"><center><%= partial "foot" %></center></p>
</div>
